
<!-- 
    <app-logout></app-logout>
    <app-btn-graficas></app-btn-graficas> -->

            <ul class="row p-0 shadow">

                <li class="col-2 rango1"> <a href="">Rango 1</a> </li>
                <li class="col-2 rango2"> <a href="">Rango 2</a> </li>
                <li class="col-2 rango3"> <a href="">Rango 3</a> </li>
                <li class="col-2 rango4"> <a href="">Rango 4</a> </li>
                <li class="col-2 rango5"> <a href="">Rango 5</a> </li>
                <li class="col-2 rango6"> <a href="">Rango 6</a> </li>

            </ul>


            <div>
                <app-map></app-map>
            </div>







